@page "/Materials"
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Entities
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Enumerations
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Services
@using WEB_BLAZOR_PROGRAMACION_DE_SOFTWARE.Interfaces
@inject IMaterialService MaterialService




<div class="contenedor-tabla">
    <h2>Material</h2>
    <button class="btn btn-primary m-2" @onclick="ViewAllMaterials">Materiales</button>
    <button class="btn btn-primary m-2" @onclick="ViewAvailableMaterials">Materiales Disponibles</button>
    @if (isLoading)
    {
        <div class="spinner-cargando">
            <div class="spinner"></div>
            <h3>Cargando materiales...</h3>
        </div>
    }
    else if (tablaMostrada.Equals("All"))
    {
        @if (materias == null)
        {
            <div class="informacion-baseDeDatos">
                <h3>!No se pudo acceder a la base de datos!</h3>
            </div>
        }
        else if (materias.Count == 0)
        {
            <div class="informacion-materias">
                <h3>!No hay materias disponibles!</h3>
            </div>
        }
        else
        {
            <table class="tabla-materiales">
                <thead>
                    <tr>
                        <th>MaterialId</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>PublicationYear</th>
                        <th>Status</th>
                        <th>Condition</th>
                        <th>Topic</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var materia in materias)
                    {
                        <tr>
                            <td>@materia.MaterialId</td>
                            <td>@materia.Title</td>
                            <td>@materia.Author</td>
                            <td>@materia.PublicationYear</td>
                            <td>@materia.Status.ToString()</td>
                            <td>@materia.Condition.ToString()</td>
                            <td>@materia.Topic.ToString()</td>
                            @if (@materia.Status.ToString().Equals("Available"))
                            {
                                <td>
                                    <NavLink class="btn btn-success" href="@($"/RealizarReserva/{materia.MaterialId}")">
                                        Reservar
                                    </NavLink>

                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        }

    }
    else
    {
        @if (materiasAvailable == null)
        {
            <div class="informacion-baseDeDatos">
                <h3>!No se pudo acceder a la base de datos!</h3>
            </div>
        }
        else if (materiasAvailable.Count == 0)
        {
            <div class="informacion-materias">
                <h3>!No hay materias disponibles!</h3>
            </div>
        }
        else
        {
            <table class="tabla-materiales">
                <thead>
                    <tr>
                        <th>MaterialId</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>PublicationYear</th>
                        <th>Status</th>
                        <th>Condition</th>
                        <th>Topic</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var materia in materiasAvailable)
                    {
                        <tr>
                            <td>@materia.MaterialId</td>
                            <td>@materia.Title</td>
                            <td>@materia.Author</td>
                            <td>@materia.PublicationYear</td>
                            <td>@materia.Status.ToString()</td>
                            <td>@materia.Condition.ToString()</td>
                            <td>@materia.Topic.ToString()</td>
                            <td>
                                <NavLink class="btn btn-success" href="@($"/RealizarReserva/{materia.MaterialId}")">
                                    Reservar
                                </NavLink>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        
    }
</div>
@code {
    private List<Material> materias;
    private List<Material> materiasAvailable;
    private bool isLoading = true;

    private string tablaMostrada = "All";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            materias = await MaterialService.ListMaterials();
            materiasAvailable = await MaterialService.ListAvailableMaterials();
            
        }
        catch
        {
            materias = null;
            materiasAvailable = null;
        }
        finally
        {
            isLoading = false;
        }

    }

    protected void ViewAvailableMaterials()
    {
        tablaMostrada = "Available";
        StateHasChanged();
    }

    protected void ViewAllMaterials()
    {
        tablaMostrada = "All";
        StateHasChanged();
    }

}
